
{% extends 'basebase.html' %}
{% load static %}
{% block content %}
 <img src="{% static 'images/likelion.png' %}" alt="logo" width="100px">
<h1 class="contents">2024 멋쟁이사자처럼 2번째 세션</h1>
<div class="contents">Django에 대해 알아보자</div>

    <div>Django란 무엇인가
        <p>-파이썬으로 작성된 웹 프레임워크: 웹을 만들 수 있는 기본 구조들을 제공한다. 
    유연성과 확장성에서 장점이 돋보이고, 쉬운 문법덕분에 쉽게 웹 개발을 할 수 있다! </p>
    </div>

    <div>Django 사용법
        <ol>
            <li>
        main안에 templates폴더 생성 ( 사용자에게 보여지는 부분) : templates안에서 html 파일을 작성한다.
            </li>
            <li>
            URL을 요청해서 내가 작성한 html보이게 하기: <span>view.py</span> 를 통해 원하는 html 렌더링될 수 있도록 함
            def 함수이름(request):  
             return render(request, 'main/mainpage.html') 
            </li>

            <li>
                 <span>url.py</span>에서 url에 해당하는 데이터를 연결한다
                    path('', views.mainpage, name="mainpage") : 여기까지 하면 원하는 html을 띄울 수 있다. 
            </li>
            <li>
       추가적으로 여러 템플릿 언어를 사용해서 반복되는 코드를 없애고 간소화 할 수 있음!! 훨씬 작업하기 수월하게 환경 설정 후에 코딩하자.
            </li>
        </ol>

  {% endblock %}