{% extends 'basebase.html' %}
{% block content %}
    <div class="contents">멋쟁이 사자처럼 12기 </div>
    <div>멋쟁이사자가 되는 그날까지*******</div>
    
        <p>2번째 세션 느낀점</p>
    
        <pre>
            비주얼스튜디오코드로 html과 css,js에 대해 배운 적이 있었는데, 오늘 알던게 조금 있어서 반가웠다!!! 
            하지만 장고를 사용해서 이러쿵저러쿵해본건 처음이라 낯설었지만 엄청엄청 재밌었다. 
            프론트엔드로써 이런걸 계속 할텐데(?)(아직 어떤 걸 주로 하는지 모르겠음) 벌써 너무 재밌다.....
            내가 사용해보지 않은 기능들에 대해 많이 배우고 파이썬으로 구조짜여진 이 장고를 열심히 활용해서 내가 원하는 웹사이트를
            이쁘게 만들 생각에 좀 기대된다 ㅋㅎ. 다음주에 있을 세션도 넘 기대된다..! 이제 트랙별 세션이라 아마 내가 일년동안
            많이 하게 될 기능들에 대해 많이 배울 것 같다. 다음주 세션도 복습 많이 해서 완전 잘 쓸 수 있게 해야즤 !
        </pre>

    {% endblock %}